<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HWUploadImages.Data.Properties.Settings.MyFirstDbConnectionString"
            connectionString="Data Source=.\MSSMLBIZ;Initial Catalog=MyFirstDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>